.capital-flow-type {
  
  .button-group {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #fff;

    .ant-btn {
      margin-right: 10px;
    }
  }

  .ant-table-wrapper {
    overflow-y: auto;
  }
}