// Index
.capital-flow {
  .poly {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    
    .item-price {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }

    .ant-statistic-content,
    .ant-statistic-content-value-decimal {
      font-size: 14px;
      color: #666;
    }
  }
}

// Type
.capital-flow-type {
  .button-group {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #fff;

    .ant-btn {
      margin-right: 10px;
    }
  }

  .ant-table-wrapper {
    overflow-y: auto;
  }
}