$padding: 15px;

.task-component {

  .ant-card-body {
    padding: $padding 0;
  }

  .content {
    padding: 0 24px $padding $padding;
    border-bottom: 1px dashed #ccc;
    white-space: pre;
  }

  .level {
    padding-left: $padding;
  }
  
  .button-wrapper {
    padding: 0 $padding;
    display: flex;
    justify-content: flex-end;

    .ant-btn:not(:nth-last-child(1)) {
      margin-right: 7px;
    }
  }
}