@import "../../../../../assets/styles/variables.scss";

.money-access {
  position: relative;
  margin: 0 20px;
  background: #fff;

  .title {
    display: flex;
    align-self: center;
    position: relative;
    padding: 15px 0 15px 30px;

    &:after {
      content: "";
      position: absolute;
      top: 17px;
      left: 16px;
      height: 30px;
      width: 3px;
      background-color: $theme-color;
    }
  }

  .ant-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  .date-picker {
    margin-left: 20px;
  }

  .no-data {
    height: 399px;
  }
}