@import "../../assets/styles/variables.scss";

.home-index {
  display: block !important;
}

// SystemInfo
.system-data {
  .ant-card {
    height: 250px;
    margin-bottom: 25px;
  }
  
  .item-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    em {
      color: #000;
      font-weight: 500;
    }
  }

  .mem .ant-card-body {
    text-align: center;
    .surplus {
      margin-top: 10px;
    }
  }
}

// PanelGroup
.panel-group {
  $colors: #f50 #34bfa3 #36a3f7 #40c9c6;
  .icon svg {
    width: 75px;
    height: 75px;
  }

  .ant-col {
    margin-bottom: 20px;
    @for $i from 1 through 4 {

      &:nth-child(#{$i}) {
        .anticon {
          color: nth($colors, $i);
        }

        &:hover {
          .anticon {
            color: #fff;
            & > svg {
              background: nth($colors, $i);
            }
          }
        }
      }
    }
  }

  .ant-statistic-content {
    text-align: center;
  }

  .block-item {
    display: flex;
    padding: 20px 20px 20px 15px;
    background: #fff;
    cursor: pointer;

    .icon {
      flex: 1;
      text-align: left;
      align-self: center;

      & > svg {
        padding: 15px;
        border-radius: 5px;
        transition: .1s linear;
      }
    }

    .data {
      padding-top: 10px;
      text-align: left;
      align-self: center;

      .ant-statistic-title {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #00000073;
        text-align: center;
      }
      .ant-statistic-content-prefix {
        font-size: 18px;
        font-weight: bold;
        margin-inline-end: 0;
      }
      .ant-statistic-content-value {
        font-weight: bold;
        color: #666;
      }
      .ant-statistic-content-value-int {
        color: #666;
        font-weight: bold;
        font-size: 28px;
      }
    }
  }
}

// AmountChart
.amount-chart {
  position: relative;
  margin: 0 20px;
  background: #fff;

  .title {
    display: flex;
    align-self: center;
    position: relative;
    padding: 15px 0 15px 30px;

    &:after {
      content: "";
      position: absolute;
      top: 17px;
      left: 16px;
      height: 30px;
      width: 3px;
      background-color: $theme-color;
    }
  }

  .date-picker {
    margin-left: 20px;
  }

  .no-data {
    height: 399px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
