.memorandum {

  .button-group {
    margin-top: 15px;
    text-align: right;

    .ant-btn {
      margin-left: 10px;
    }
  }

  .ant-card-body {
    padding: 10px 20px;
  }
  
  .ant-col {
    margin-bottom: 15px;
  }

  .ant-card-head-title,
  .ant-card-body {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .content {
    margin-top: 5px;
    @include lineClamp(1);

    & > * {
      display: inline;
      font-size: 14px;
      font-weight: normal;
      color: #333;
    }
  }
}

