.memorandum-detail {
  position: relative;
  padding: 20px;
  background: #fff;
  overflow-y: auto !important;

  .title {
    font-size: 36px;
    color: #262626;
    border-bottom: 1px solid #e6e6e6;
  }

  .edit {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    color: inherit;
  }
}
