.memorandum-detail {
  position: relative;
  padding: 15px 20px;
  background: #fff;
  overflow-y: auto !important;
  height: calc(100vh - 50px);

  .tool-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .icon-left {
    font-size: 22px;
    cursor: pointer;
  }

  .title {
    font-size: 36px;
    color: #262626;
    border-bottom: 1px solid #e6e6e6;
  }

  .edit {
    font-size: 16px;
    color: inherit;
  }
}
