@import "@/assets/styles/mixins.scss";
@import "@/assets/styles/variables.scss";

.ant-layout-header {
  z-index: 1;
  height: 60px;
  line-height: 60px;
  padding: 0 20px !important;
  background: #fff !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  height: 60px !important;
  overflow: hidden;

  .left {
    float: left;
  }

  a {
    display: block;
    color: inherit;
  }

  .right {
    float: right;
    overflow: hidden;
    font-size: 14px;

    li {
      float: left;
      height: 100%;
      cursor: pointer;
      padding: 0 10px;
      
      &:hover {
        background: #f7f7f7;
        color: #333;
      }

      svg {
        vertical-align: middle;
        font-size: 18px;
      }
    }

    .username {
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}

.popover-content {
  width: 200px;

  .ls {
    display: block;
    padding: 8px 15px;
    border-bottom: 1px solid #f7f7f7;
    cursor: pointer;
    color: inherit;

    &:hover {
      background: #f5f5f5 !important;
      color: #595959;
    }
  }

  .sign-out {
    background: #fafafa;
    text-align: center;
  }
}

.message-popover {
  width: 330px;
  font-size: 12px;

  .msg-header {
    display: flex;
    background: #f7f7f7;

    .left {
      flex: 1;
      font-size: 14px;
    }

    .right {
      cursor: pointer;
      color: $theme-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .item-block {
    padding: 10px 20px;

    .content {
      @include ellipsis;
    }
  }

  .ls {
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    color: inherit;

    &:hover {
      background: #f7f7f7;
    }
  }
}
