.ant-modal-wrap {
  
  .ant-form-item {
    &:not(:nth-last-child(1)) {
      margin-bottom: 10px;
    }

    .ant-calendar-picker {
      width: 100%;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }

    textarea {
      resize: auto;
    }
  }
}