.editor-page {

  .input-title {
    font-weight: bold;
  }

  #edit-section {
    margin: 20px 0;
    flex: 1;
    background: #fff;
  }

  .button-group {
    text-align: right;

    .ant-btn {
      margin-left: 15px;
    }
  }
}
