@import "@/assets/styles/mixins.scss";

// Index
.memorandum-spin {
  overflow: hidden;
  overflow-y: auto !important;
}
.memorandum {
  .button-group {
    margin-top: 15px;
    text-align: right;
    .ant-btn {
      margin-left: 10px;
    }
  }

  .ant-card-body {
    padding: 10px 20px;
  }
  
  .ant-col {
    margin-bottom: 15px;
  }

  .ant-card-head-title,
  .ant-card-body {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .content {
    margin-top: 5px;
    @include lineClamp(1);
    & > * {
      display: inline;
      font-size: 14px;
      font-weight: normal;
      color: #333;
    }
    img {
      max-width: 100%;
    }
  }
}

// CreatePage
.editor-page {
  .input-title {
    font-weight: bold;
  }

  #edit-section {
    margin: 20px 0;
    flex: 1;
    background: #fff;
  }

  .button-group {
    text-align: right;
    .ant-btn {
      margin-left: 15px;
    }
  }
}

// DetailPage
.detail-spin {
  overflow-y: auto !important;
  .ant-spin-container {
    height: 100%;
  }
}
.memorandum-detail {
  position: relative;
  padding: 15px 20px;
  background: #fff;
  overflow-y: auto !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  .tool-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    border-bottom: .5px solid #e6e6e6;
    padding-bottom: 12px;
  }
  .markdown-body {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
  }

  .icon-left {
    font-size: 22px;
    cursor: pointer;
  }

  .title {
    padding: 0 12px;
    font-size: 26px;
    color: #262626;
    margin: 0;
  }

  .edit {
    font-size: 16px;
    color: inherit;
  }
}
