@import "./variables.scss";
@import "@/assets/styles/mixins.scss";

// 主题字体颜色
.theme-font-color {
  color: $theme-color !important;
}

.flex {
  display: flex
}

.flex-center {
  @include flex-center;
}

.wbba {
  word-break: break-all;
}

.wspw {
  white-space: pre-wrap;
}

.oya {
  overflow-y: auto !important;
}

.tac {
  text-align: center;
}

.wpr {
  white-space: pre;
}

.udn {
  -webkit-user-drag: none;
}

.mt10 {
  margin-top: 10px !important;
}

.ml10 {
  margin-left: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.pl20 {
  padding-left: 20px;
}

.w100 {
  width: 100% !important;
}

.w150px {
  width: 150px !important;
}

.events-none {
  pointer-events: none;
}
