// 主题字体颜色
.theme-font-color {
  color: $theme-color !important;
}

.flex-center {
  @include flex-center;
}

.wbba {
  word-break: break-all;
}

.wspw {
  white-space: pre-wrap;
}

.oya {
  overflow-y: auto !important;
}

.tac {
  text-align: center;
}

.wpr {
  white-space: pre;
}

.udn {
  -webkit-user-drag: none;
}
